.LocationFeed{
    height: 100%;
    width: 100%;
}

.LocationFeedMapContainer{
    height: 40%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    div{
        width: 75%;
        height: 80%;
        border: 5px solid #000000;
        box-shadow: 5px 5px 0px 0px #000000;
        border-radius: 30px;
    }
}

.LocationFeedForm{
    height: 50%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}