.CardType2{
    height: 300px;
    width: 450px;
    border: 5px solid #000000;
    border-radius: 16px;
    box-shadow: 5px 5px 0px 0px #000000;
}

.CardType2:active{
    box-shadow: 3px 3px 0px 0px #000000;
}

.CardImageContainerType2{
    width: 100%;
    height: 80%;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
    // test color to be removed
    background-color: #FFF503;
}

.CardImageType2{
    width: 400px;
    height: 200px;
    border-radius: 16px;
    border: 5px solid black;
    box-shadow: 5px 5px 0px 0px #000000;
    // test background to be removed
    background-image: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    background-size: cover;
}

.CardTextContainerType2{
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 12px 12px;
    box-sizing: border-box;
    border-top: 5px solid #000000;
    font-family: 'Caveat', cursive;
    background-color: #FFFFFF;
}

.CardTitle2{
    display: inline-block;
    width: 50%;
    height: 95%;
    font-size: 36px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.CardSubtitle2{
    display: inline-block;
    width: 50%;
    height: 95%;
    font-size: 24px;
    text-align: right;
    white-space: nowrap;
    text-overflow: ellipsis;
}