body {
    margin: 0;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Merriweather', serif;
    transition: all 0.1s ease-in-out;
}

input{
    font-family: 'Merriweather', serif;
}

.Stage{
    
}

::-webkit-scrollbar{
    display: none;
}